@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=cyrillic');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: #ff591f;
    border: 3px solid #ff591f;
    padding: 25px 55px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 10px 40px rgba(255, 79, 35, 0.5), 0 9px 46px rgba(255, 79, 35, 0.5);
}

.button:hover {
    background-color: #fff9e6;
    color: #000;
}

.link {
    color: #ff591f;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.circle {
    border-radius: 50%;
    background-color: #ffcd33;
    position: absolute;
}

.circle_small {
    width: 230px;
    height: 230px;
    left: -45px;
    top: -45px;
}

.circle_big {
    width: 630px;
    height: 630px;
    right: -45px;
    top: -45px;
}

.header {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: 
    "header-logo header-nav header-contacts"
    "header-text header-buttons .";
    grid-template-rows: 1fr 2fr 1fr;
    grid-column-gap: 20px;
    min-height: 696px;
    align-items: center;
    background-color: #fff9e6;
    font-size: 18px;
    padding: 0 10px 0 35px;
}

.header-logo {
    z-index: 0;
    grid-area: header-logo;
    justify-self: start;
    text-decoration: none;
    font-weight: 400;
    font-size: 35px;
    font-family: 'Lobster', cursive;
    color: black;
}

.header-nav {
    position: relative;
    grid-area: header-nav;
    min-width: auto;
    font-size: 14px;
}

.header-contacts {
    position: relative;
    grid-area: header-contacts;
    justify-self: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.header-contacts__phone {
    font-weight: 900;
    font-size: 23px;
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    min-width: 170px;
}

.header-contacts__callback {
    font-size: 14px;
    font-weight: 400;
    padding: 11px 15px;
    border-radius: 200px;
    border: 3px solid #fff9e6;
    background: #fff9e6;
    text-decoration: none;
    color: #000;
    min-width: 186px;
}

.header-contacts__callback:hover {
    background: #74d478;
    color: #fff;
}

.header-text {
    display: grid;
    grid-row-gap: 50px;
    position: relative;
    grid-area: header-text;
    align-self: center;
    align-content: flex-start;
}

.header-title {
    font-size: 60px;
    margin: 0;
}

.header-nav__link {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.header-nav__link :last-child{
    margin-right: 0px;
}

.header-nav__link:hover {
    border-top: 1px solid #ff591f;
    border-bottom: 1px solid #ff591f;
    padding: 7px 0 7px 0;
    color: #ff591f;
    transition: 0.3s;
}

.header-subtitle {
    font-size: 22px;
    line-height: 45px;
}

.header-buttons {
    grid-area: header-buttons;
}

.header-button__link {
    margin-left: 30px;
}

.header-button__link:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ff591f;
}

.header-img {
    position: absolute;
    top: 20%;
    right: 0px;
    height: 75%;
}

@media (max-width:1720px) {
    .header {
        grid-template-areas: 
        "header-logo header-nav header-contacts"
        "header-text header-text ."
        "header-buttons header-buttons .";
        padding: 0 0 35px 40px;
    }

    .header-text {
        padding-left: 35px;
    }

    .header-buttons {
        margin-left: 35px;
    }
}