*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-areas: 
    "header-logo header-nav header-contacts"
    ". header-text .";
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 20px;
    min-height: 600px;
    align-items: center;
    background-color: #fff9e6;
}

.header-logo {
    grid-area: header-logo;
    justify-self: center;
}

.header-nav {
    grid-area: header-nav;
}

.header-contacts {
    grid-area: header-contacts;
    justify-self: center;
}

.header-text {
    grid-area: header-text;
}

.header-nav__link {
    margin-right: 20px;
}
.header-nav__link :last-child{
    margin-right: 0px;
}